
*
{
  margin: 0;
  padding: 0;

}
  


  body {
    
    width:100%;
    height: 100%;
    
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    font-family: "Helvetica Neue", sans-serif;
    
    /* background: linear-gradient(90deg, #011936 0%, #1A1C22 35%, #2B2D3E 60%, #43475C 85%, #4D4F5C 100%); */

  }
  
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 70%);
    z-index: 1;
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(165deg, rgba(41, 67, 89, 0.95) 0%, rgba(41, 67, 89, 0.8) 50%, rgba(41, 67, 89, 0.5) 100%);
    animation: gradientBackground 20s ease infinite;
    z-index: 2;
  } 
  
   @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }




  .Container {
    margin-top: 85px;
    margin-bottom: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../assets/loginBackground.jpg');
    
    width: 60vh;
   
    border-radius: 5px;
    outline: 2px solid #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25),
                0px 0px 6px 1px #fff;
    
  }
  
  
  
  .Form {
    padding: 30px;
  }
  


  h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
    animation: glowing 2s ease-in-out infinite;
  }
  
  @keyframes glowing {
    0% {
      text-shadow: 0px 0px 10px #fff;
    }
    50% {
      text-shadow: 0px 0px 20px #fff;
    }
    100% {
      text-shadow: 0px 0px 10px #fff;
    }
  }
  
  

  input
  {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #41464c;
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #41464c;
  }
  

  input:focus
  { 
    outline: none;
    border-color: #0070f3;
    background-color: #1c1f24;
  }
  
  .loginButton {
    background-color: #0070f3;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginButton:hover {
    background-color: #0058c0;
  }
  
  .error {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ff3b30;
    animation: glow 1s ease-in-out infinite;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 0 rgba(255, 59, 48, 0.7);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 59, 48, 0.7);
    }
    100% {
      box-shadow: 0 0 0 rgba(255, 59, 48, 0.7);
    }
  }
  


  
  
